<!--The content below is only a placeholder and can be replaced.-->
<header>
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Sign up by creating a user. It's free 😀 </a>
    </div>
  </nav>
</header>

<main>

  <div class="row">

    <div class="col-sm-4">
      <div *ngIf="users">
      <ul class="list-group users-list" >
        <li class="list-group-item" *ngFor="let user of users" (click)="selectUser(user)" [class.active]="user === activeUser">{{user.name}} ({{user.username}})
      </ul>
    </div>

      <user-form></user-form>
      
    </div>


    <div class="col-sm-8">
    
     <user-profile [user]="activeUser"></user-profile>
      
      <div class="jumbotron text-center" *ngIf="!activeUser">
        <span class="glyphicon glyphicon-hand-left ">
          <h2>Choose a user</h2>
        </span>
      </div>


    </div>
  </div>

 
</main>

<footer class="text-center">
  Copyright &copy; 2017
</footer>