<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron" style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>  
<div>
  <a href="https://egghead.io/lessons/angular-2-manage-angular-2-elements-with-events-and-refs">Link to video series</a>
  <br>
  <br>
  <a href="https://scotch.io/courses/getting-started-with-angular-2/introduction">Scotch.io: Getting started with Angular 2+</a>
</div>
<br>
<br>
  <a href="http://yeoman.io/codelab/index.html">Build TodoMVC with Yeoman generator</a>
<br>
<br>
  <a href="http://todomvc.com/">Checkout other frameworks solutions to the above link's ToDoMVC project</a>
<app-simple-form></app-simple-form>